html, body {
  height: 100%;
  min-height: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  min-height: 100%;
  display: grid;
  place-items: center;
}

.page-wrapper button {
  padding: 10px 30px;
  border: none;
  background: lighten(#292d48, 65);
  position: relative;
  border-radius: 5px;
}

.cart-item {
  position: absolute;
  height: 24px;
  width: 24px;
  top: -10px;
  right: -10px;
}

.cart-item:before {
  content: '1';
  display: block;
  line-height: 24px;
  height: 24px;
  width: 24px;
  background: #2bd156;
  color: white;
  border-radius: 20px;
  text-align: center;
}

.sendtocart .cart-item {
  display: block;
  animation: xAxis 1s forwards cubic-bezier(1.000, 0.440, 0.840, 0.165);
}

.sendtocart .cart-item:before {
  animation: yAxis 1s alternate forwards cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.cart {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #292d48;
  display: grid;
  place-items: center;
  border-radius: 5px;
}

.cart i {
  font-size: 25px;
  color: white;
}

.cart:before {
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -12px;
  right: -12px;
  background: #2bd156;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px;
}

.cart.shake {
  animation: shakeCart .4s ease-in-out forwards;
}

@keyframes xAxis {
  100% {
    transform: translateX(calc(50vw - 105px));
  }
}

@keyframes yAxis {
  100% {
    transform: translateY(calc(-50vh + 75px));
  }
}

@keyframes shakeCart {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
